.ibox-content p {
    color: #000000;
    font-size: 16px;
}

.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
.input-user {
    position: relative;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #D1D1D1;
    padding:0;
}
.input-user:focus {
    border-color: #E23773 !important;
}

.input-user::-webkit-input-placeholder {
    color: #000;
    font-weight: 600;
}

.table-foto {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.avatar {
    width: 180px;
    height: 180px
}

.header-avatar {
    border: 2px solid #3DBBCC;
    float:left;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.excel{
    border: 1px solid green;
    background: transparent;
    color: green;
    margin-right: 10px;
    padding: 4px 12px;
    text-transform: uppercase;
}

.excel:hover{
    border: 1px solid green;
    background: green;
    color: white;
}
.excel:active{
    border: 1px solid green;
    background: green;
    color: white;
}

.new{
    border: 1px solid #E23773;
    background: transparent;
    color: #E23773;
    margin-right: 10px;
    padding: 4px 12px;
    text-transform: uppercase;
}

.new:hover{
    border: 1px solid #E23773;
    background: #E23773;
    color: white;
}

.dt-buttons {
    float: right;
}